<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Cadastro - Fortes Engenharia</title>
</head>
<body>
    <div class="geral">
        <main class="loginMain">
            <article>
                <img src="https://fortes.ind.br/wp-content/uploads/2022/08/FORTES_LOGOMARCA_moldura-e1660776738611.png" alt="Fortes Engenharia">
            </article>
            <form action="/authReg" method="post">
                <h1>Cadastro</h1>
                <input name="nome" id="nome" type="text" required placeholder="Nome">
                <input name="id" id="id" type="text" required placeholder="ID">
                <input name="email" id="email" type="email" required placeholder="Email">
                <input name="senha" id="senha" type="password" required placeholder="Senha">
                <input type="submit">
                <p>Já tem uma conta? <a href="/login">Fazer Login</a></p>
            {{#if erro}}
                <h4 class="erro">ID de colaborador já registrado</h4>
            {{/if}}
            {{#if erro1}}
                <h4 class="erro">Todos os campos devem ser preenchidos</h4>
            {{/if}}
            </form>
        </main>
    </div>
</body>
</html>