<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Meus Pedidos - Fortes Engenharia</title>
</head>
<body>
    <script src="script.js"></script>
    <header id="header">
        <article>
            <img src="https://fortes.ind.br/wp-content/uploads/2022/08/FORTES_LOGOMARCA_moldura-e1660776738611.png" alt="Fortes Engenharia">
        </article>
        <div class="btnMenu">
            <button onclick="menu()">
                <img src="https://cdn-icons-png.flaticon.com/512/2311/2311531.png" alt="Menu" width="50px">
            </button>
        </div>
        <ul class="desktop" id="menu">
            <div id="menuItens" class="closed">
                <a href="/" class="estado"><li>Meus Pedidos</li></a>
                <a href="/novoPedido"><li>Novo Pedido</li></a>
                <a href="/login"><li>Logout</li></a>
            </div>
        </ul>
        <!-- <ul class="phone" id="menu">
            <div id="menuItens">
                <a href="index.html" class="estado"><li>Meus Pedidos</li></a>
                <a href="novoPedido.html"><li>Novo Pedido</li></a>
            </div>
         </ul> -->
    </header>
    <main>
        
    </main>
</body>
</html>