<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Login - Fortes Engenharia</title>
</head>
<body class="geral">
    <main>
        <article>
            <img src="https://fortes.ind.br/wp-content/uploads/2022/08/FORTES_LOGOMARCA_moldura-e1660776738611.png" alt="Fortes Engenharia">
        </article>
        <form>
            <h1>Login</h1>
            <input type="email" placeholder="Email">
            <input type="password" placeholder="Senha">
            <a href="/redefinicao" id="redefinicao">Esqueceu sua senha?</a>
            <input type="submit">
            <p>Não tem uma conta? <a href="/registro">Criar conta</a></p>
        </form>
    </main>
</body>
</html>