<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Meus Pedidos - Fortes Engenharia</title>
</head>
<body>
    <script src="script.js"></script>
    <header id="header">
        <article>
            <img src="https://fortes.ind.br/wp-content/uploads/2022/08/FORTES_LOGOMARCA_moldura-e1660776738611.png" alt="Fortes Engenharia">
        </article>
        <a href="/logout">
            <img src="https://cdn.icon-icons.com/icons2/2518/PNG/512/logout_icon_151219.png" alt="Logout">
        </a>
    </header>
    <main class="mainNovoPed">
            <a href="/" class="seta"><img src="https://cdn-icons-png.flaticon.com/512/3031/3031716.png" alt="" style="transform: scaleX(-1); width: 50px;"></a>
            <h1>Novo Pedido</h1>
        <form action="/new" method="post" class="formPedido">
            <select name="obra" id="obra" onchange="show1()">
                <option value="" selected disabled>Selecione a obra</option>
                {{#each obra}}
                <option value="{{this.id_obra}}">{{this.endereco}}</option>
                {{/each}}
            </select>
            <input name="date" id="date" type="date" onchange="show2()" min="{{date}}" hidden>
            <div id="checks" hidden>
                <div>
                    <input type="checkbox" name="cafe" id="cafe">
                    <label for="cafe">Café da Manhã</label>
                </div>
                <div>
                    <input type="checkbox" name="almoco" id="almoco">
                    <label for="almoco">Almoço</label>
                </div>
                <div>
                    <input type="checkbox" name="jantar" id="jantar">
                    <label for="jantar">Jantar</label>
                </div>
                <input type="submit">
            </div>
        </form>
    </main>
</body>
</html>