@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
html{
    --primaria: #10458B;
    --secundaria: #90E9D1;
    --confirmar: #78C75C;
    --cancelar: #D63E35;
    --cinza: #DADCDB;
}
body{
    font-family: 'Inter', sans-serif;
    margin: 0;
    background-image: linear-gradient(45deg, var(--primaria) -30%, var(--cinza));
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}
.geral main form a{
    text-decoration: none;
    color: var(--primaria);
}
.geral main form a:hover{
    text-decoration: underline;
}
.loginMain{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: white;
    font-size: small;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.divPedido{
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: center;
    font-size: small;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 30px;
    padding: 15px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.divPedidoTodos{
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: center;
    font-size: small;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 30px;
    padding: 15px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.mainPedidos{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.divPedidos{
    display: flex;
    width: 80%;
    height: 55vh;
    justify-content: center;
    overflow-y: auto;
}
.divPedido .texto{
    margin-left: 20px;
}
.divPedidosTodos{
    display: flex;
    width: 80%;
    height: 55vh;
    flex-direction: row;
    justify-content: center;
    overflow-y: auto;
    flex-wrap: wrap;
}
.divPedidoTodos .texto{
    margin-left: 20px;
}
.qrcode img{
    width: 100px;
}
.novoPedido{
    background-color: #10458B;
    text-decoration: none;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    margin-top: 30px;
}
header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    font-size: small;
    height: 100px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.5s;
}
header article {
    width: 50%;
    max-height: 100px;
}
header article img{
    width: 300px;
}
header a img{
    width: 50px;
}
header a{
    background-color: transparent;
    border: none;
}
header a:hover{
    cursor: pointer;
}
.desktop{
    width: 50%;
    height: 100%;
}
#menuItens{
    display: flex;
    justify-content: end;
    height: 100%;
}
.desktop li{
    height: 100%;
    padding-left: 40px;
    padding-right: 40px;
    line-height: 90px;
    text-align: center;
    list-style: none;
    border-left: 1px solid black;
    color: black;
    font-weight: 600;
}
.desktop a{
    text-decoration: none;
}
.desktop a.estado li{
    color: white;
    background-color: var(--primaria);
}
.desktop a li:hover{
    background-color: var(--secundaria);
    text-decoration: underline black;
}
.desktop a.estado li:hover{
    background-color: var(--primaria);
    text-decoration: underline;
}
.loginMain h1{
    font-size: 20px;
}
.loginMain form{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    padding-left: 20px;
    margin-left: 50px;
}
#redefinicao{
    text-align: right;
}
.loginMain form input{
    border-radius: 10px;
    height: 20px;
    margin-top: 5px;
    border: none;
    background-color: var(--cinza);
    padding: 10px;
}
.loginMain form input[type="submit"]{
    background-color: var(--confirmar);
    border-radius: 30px;
    text-align: center;
    width: 40%;
    height: 10%;
    margin: 10px auto 0px;
    border: 2px solid var(--confirmar);
}
.loginMain form input[type="submit"]:hover{
    cursor: pointer;
    background-color: var(--primaria);
    color: white;
}
.loginMain article{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: right;
}
.loginMain article img{
    width: 50%;
}
.geral{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}
.btnMenu{
    display: none;
}
.phone{
    margin-top: 0px;
    height: 0px;
    transition: 0.5s;
    background-color: var(--cinza);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.closed{
    display: flex;
}
.erro{
    padding: 10px;
    background-color: #de7e76;
    border: 3px #D63E35 solid;
    border-radius: 30px;
}
.formPedido{
    padding: 20px;
    border-radius: 20px;
    width: 40%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.formPedido input{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    margin-top: 10px;
}
.formPedido select{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    margin-top: 10px;
}
.mainNovoPed{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formPedido input[type="submit"]{
    background-color: var(--confirmar);
    border-radius: 30px;
    text-align: center;
    width: 40%;
    height: 10%;
    padding-left: 0px;
    padding-right: 0px;
    margin: 10px auto 0px;
    border: 2px solid var(--confirmar);
}
.seta{
    align-self: flex-start;
    margin: 10px;
}
.title {
    justify-self: center;
}
.formPedido input[type="submit"]:hover{
    cursor: pointer;
    background-color: #10458B;
    color: white;
}
#pedFeito{
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    background-color: rgb(167, 235, 150);
    border: #78C75C 3px solid;
    border-radius: 20px;
    padding: 20px;
    transition: 3s;
}
.btnMenuPed{
    background-color: var(--cinza);
    border: none;
}
.btnMenuPed:disabled{
    color: white;
    background-color: var(--primaria);
}
.btnMenuPed:hover{
    background-color: var(--secundaria);
}
.btnMenuPed:disabled:hover{
    background-color: var(--primaria);
}
.MenuPed{
    margin-bottom: 15px;
}
@media screen and (max-width: 1800px){
    header article img{
        width: 20vw;
    }
}
@media screen and (max-width: 951px) {
    .divPedido{
        justify-items: flex-start;
    }
    .divPedidos{
        width: 80%;
        flex-direction: column; 
        justify-content: start;
    }
    .divPedidoTodos{
        justify-items: flex-start;
        width: 100%;
    }
    .divPedidosTodos{
        width: 80%;
    }
}
@media screen and (max-width: 800px) {
    .loginMain{
        flex-direction: column;
        width: 80%;
        border-radius: 30px;
    }
    .loginMain article{
        width: 100%;
        justify-content: center;
        padding: 30px;
        padding-bottom: 0;
    }
    .loginMain article img{
        width: 100%;
    }
    .geral{
        justify-content: center;
    }
    .loginMain h1{
        margin-top: 0;
    }
    .loginMain form{
        margin-left: 0;
    }
    header article img{
        width: 40vw;
    }
    .desktop{
        height: 0px;
    }
    .open{
        height: 200px;
    }
    .btnMenu{
        display: flex;
        justify-content: end;
        width: 50%;
    }
    .btnMenu button{
        background-color: transparent;
        border: none;
        border-radius: 10px;
    }
    .btnMenu button:hover{
        cursor: pointer;
        border: 1px solid;
    }
    #menu{
        width: 100%;
    }
    #menuItens{
        flex-direction: column;
        height: 100%;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
    }
    #menuItens a{
        height: 50%;
        width: 100%;
        text-align: center;
        line-height: 100px;
        text-decoration: none;
        color: black;
        font-weight: 600;
    }
    #menuItens a.estado{
        background-color: var(--primaria);
        color: white;
    }
    #menuItens a:hover{
        text-decoration: underline;
        background-color: var(--secundaria);
    }
    #menuItens a.estado:hover{
        background-color: var(--primaria);
    }
    .closed{
        display: none !important;
    }
    .headerOpen{
        height: 425px;
    }
}